

body {
}

header, section, footer {
	@include grid-container;
	padding-left: $base-spacing;
	padding-top: $base-spacing*4;
}

section.work {
	padding-top: $base-spacing;
	// padding-right: $base-spacing*2;
	margin-left: -$base-spacing/3;
}

section.work.design {
	padding-top: $base-spacing*4;
}

// .portrait {
//   @include grid-column(6);
// }
// .hey {
//   @include grid-column(6);
// }