
@font-face {
  font-family: 'Apercu';
  src: url("fonts/apercu-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("fonts/apercu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/apercu-regular-webfont.woff") format("woff"), url("fonts/apercu-regular-webfont.ttf") format("truetype"), url("fonts/apercu-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Apercu Mono';
  src: url("fonts/apercu-mono-webfont.eot");
  /* IE9 Compat Modes */
  src: url("fonts/apercu-mono-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/apercu-mono-webfont.woff") format("woff"), url("fonts/apercu-mono-webfont.ttf") format("truetype"), url("fonts/apercu-mono-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

body, h1, h2, h3, h4, h5, h6, p, button, a, input {
  font-family: 'Apercu', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #0064B2;
}

.caption {
  font-family: 'Apercu Mono', Helvetica, Arial, sans-serif;
}

.emoji {
  font-size: 64px;
}

h3 {
	font-family: Apercu-Regular;
	font-size: 24px;
	// color: $primary-color;
	letter-spacing: 0;
	line-height: 32px;
}

.emoji {
	font-family: AppleColorEmoji;
}

p {
	font-family: Apercu-Regular;
	font-size: 16px;
	color: #526173;
	line-height: 24px;
	letter-spacing: -0.4px;
}

p.caption {
	font-family: Apercu-Mono;
	font-size: 14px;
	color: rgba(82,97,115,0.60);
	letter-spacing: -0.4px;
	line-height: 20px;
}