
$screenshot-width: 280px;
$screenshot-height: calc(280px*.62);


section.work {
	margin-left: -$base-spacing/3;
}


.inset-box {

	box-shadow: inset 0 0 8px rgba(0,0,0,0.10);

	border-radius: 6px;
	background: $gray-1;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-top: $base-spacing;
	padding-left: $base-spacing;
	// margin-left: -$base-spacing;
	// margin-bottom: $base-spacing*2;

	article {
		width: $screenshot-width;
		// max-width: 85%;
		white-space: normal;
		display: inline-block;
		vertical-align: top;
		margin-right: 1rem;
	}
}


.project-preview {

	background: white;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 3px 6px 0 rgba(82,97,115,0.12);
	margin-bottom: 1rem;

	.screenshot {
		overflow: hidden;
		height: $screenshot-height;
		width: 100%;
		border-bottom: 3px solid #EDEDED;

		img {
			// height: $screenshot-height;
			width: 100%;
			object-fit: cover;
			object-position: 0% 50%;
			// max-width: 85%;
		}
	}

	.logo {
		width: 100%;
		height: 2rem;
		margin-bottom: 1.5rem;

		img {
			height: 2rem;
			display: block;
			margin: 1.5rem auto .5rem;
			mix-blend-mode: multiply;
		}
	}
}


.project-description {
	padding: $base-spacing/2;
	padding-bottom: $base-spacing;
}

.caption {
	margin-bottom: $base-spacing/8;
}






